server:
  port: 9000

spring :
  application:
    name: user-service
  datasource:
    url: "jdbc:mysql://localhost:3306/db_tasc_user"
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 22102003
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration : 3600 # seconds
  refreshable-duration : 360000 # seconds
