<div class="register-container">
  <div class="register-box">
    <h2>Jewelry Shop</h2>
    <p style="color: #12454d;">Create Account</p>
    <form [formGroup]="registerForm">
      
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" formControlName="username" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span> <!-- Icon hình người -->
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="email" class="form-control" placeholder="Email" formControlName="email" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="tel" class="form-control" placeholder="Phone Number" formControlName="phoneNumber" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-phone"></span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="date" class="form-control" placeholder="Date of Birth" formControlName="dob" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-calendar"></span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Address" formControlName="address" required />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-map-marker-alt"></span>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary w-100" (click)="OnClickRegister()">Register</button>
    </form>
    <p class="login-link">You have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>

